<a href="https://colab.research.google.com/github/dohyun-kim92/TIL/blob/master/%EA%B2%B0%EC%B8%A1%EA%B0%92_%EC%A0%84%EC%B2%98%EB%A6%AC_ing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [23]:
call = pd.read_json("call_rate.json")
# print(call)
print(call['date'][1:30])
print("-"*50)
for i in range(len(call)):
    if call["rate"][i] == None :
        print('비어있습니다')
call[1:30]
# call rate는 빈거없음

1    2005-05-02
2    2005-05-03
3    2005-05-04
4    2005-05-05
5    2005-05-06
6    2005-05-07
7    2005-05-08
8    2005-05-09
9    2005-05-10
10   2005-05-11
11   2005-05-12
12   2005-05-13
13   2005-05-14
14   2005-05-15
15   2005-05-16
16   2005-05-17
17   2005-05-18
18   2005-05-19
19   2005-05-20
20   2005-05-21
21   2005-05-22
22   2005-05-23
23   2005-05-24
24   2005-05-25
25   2005-05-26
26   2005-05-27
27   2005-05-28
28   2005-05-29
29   2005-05-30
Name: date, dtype: datetime64[ns]
--------------------------------------------------

         date  rate
1  2005-05-02  3.29
2  2005-05-03  3.30
3  2005-05-04  3.21
4  2005-05-05  3.21
5  2005-05-06  3.27
6  2005-05-07  3.27
7  2005-05-08  3.27
8  2005-05-09  3.29
9  2005-05-10  3.30
10 2005-05-11  3.30
11 2005-05-12  3.30
12 2005-05-13  3.29
13 2005-05-14  3.29
14 2005-05-15  3.29
15 2005-05-16  3.29
16 2005-05-17  3.29
17 2005-05-18  3.29
18 2005-05-19  3.19
19 2005-05-20  3.23
20 2005-05-21  3.23
21 2005-05-22  3.23
22 2005-05-23  3.29
23 2005-05-24  3.29
24 2005-05-25  3.29
25 2005-05-26  3.29
26 2005-05-27  3.29
27 2005-05-28  3.29
28 2005-05-29  3.29
29 2005-05-30  3.29

In [84]:
cb = pd.read_json("cb_rate.json")
print(cb)
cb[1:30]
# print(call['date'][1:30])
print("-"*50)
# for i in range(len(cb)):
#     if cb["rate"][i] == None :
#         print('비어있습니다') -> 애초에 창이 빈값이니까 코드수정

date_len = pd.period_range(cb["date"][0], cb["date"][3778]) # 기간사이 몇일이 있는지 알려줌 
len(date_len) #★★★★★ 5월 1일은 따로 추가해야함

           date  rate
0    2005-05-02  4.19
1    2005-05-03  4.16
2    2005-05-04  4.17
3    2005-05-06  4.18
4    2005-05-09  4.19
...         ...   ...
3774 2020-07-17  2.21
3775 2020-07-20  2.20
3776 2020-07-21  2.21
3777 2020-07-22  2.20
3778 2020-07-23  2.19

[3779 rows x 2 columns]
--------------------------------------------------

5562

In [56]:
import datetime

In [87]:
cb["date"][1] + datetime.timedelta(days=1)
 
for i in range(300): # 20 => cb  testnum = 20 -> 날짜 길이 세는거 찾기 
    if cb["date"][i] + datetime.timedelta(days=1) == cb["date"][i+1] :
        pass
    else :
        cb["date"][i+1] = cb["date"][i] + datetime.timedelta(days=1)
        cb["rate"][i+1] = cb["rate"][i+1] cb["rate"][i] # 위치에 정확히 들어가는거 찾아보기
cb.head(30)

#date 먼저 다만들고 나중에 바꾸는 거도 하나 생각해보기

         date  rate
0  2005-05-02  4.19
1  2005-05-03  4.16
2  2005-05-04  4.17
3  2005-05-05  4.17
4  2005-05-06  4.17
5  2005-05-07  4.17
6  2005-05-08  4.17
7  2005-05-09  4.17
8  2005-05-10  4.17
9  2005-05-11  4.17
10 2005-05-12  4.17
11 2005-05-13  4.17
12 2005-05-14  4.17
13 2005-05-15  4.17
14 2005-05-16  4.17
15 2005-05-17  4.17
16 2005-05-18  4.17
17 2005-05-19  4.17
18 2005-05-20  4.17
19 2005-05-21  4.17
20 2005-05-22  4.17
21 2005-05-23  4.17
22 2005-05-24  4.17
23 2005-05-25  4.17
24 2005-05-26  4.17
25 2005-05-27  4.17
26 2005-05-28  4.17
27 2005-05-29  4.17
28 2005-05-30  4.17
29 2005-05-31  4.17

In [50]:
len(cb)

3779

In [51]:
cb["date"][1] + datetime.timedelta(days=1)

Timestamp('2005-05-04 00:00:00')