<a href="https://colab.research.google.com/github/dohyun-kim92/TIL/blob/master/%EA%B2%B0%EC%B8%A1%EA%B0%92_%EC%A0%84%EC%B2%98%EB%A6%AC_ing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# - df 컬럼명 변경코드  
cb = cb.rename({'일자':'date' , '국고채권\n(10년)':'10rate' }, axis ='columns')


## - json 저장
cb_all.to_json('treasury_3year_rate_ud.json') 


## - 데이터 타입변경 시 주의할 점
cb['date'].astype(datetime)            -> X  
cb['date'] = pd.to_datetime(cb['date']) -> O
판다스에서 데이터타입은 astype이 아님 


## - fillna 설명 
https://rfriend.tistory.com/262

In [15]:
import pandas as pd
import datetime

In [16]:
call = pd.read_json("call_rate.json")
print(call[:30]) #  첫 30으로 주말 날짜가 비었는지 + 열 확인가능 
                 # call은 빈거 없으므로 pass

         date  rate
0  2005-05-01  3.29
1  2005-05-02  3.29
2  2005-05-03  3.30
3  2005-05-04  3.21
4  2005-05-05  3.21
5  2005-05-06  3.27
6  2005-05-07  3.27
7  2005-05-08  3.27
8  2005-05-09  3.29
9  2005-05-10  3.30
10 2005-05-11  3.30
11 2005-05-12  3.30
12 2005-05-13  3.29
13 2005-05-14  3.29
14 2005-05-15  3.29
15 2005-05-16  3.29
16 2005-05-17  3.29
17 2005-05-18  3.29
18 2005-05-19  3.19
19 2005-05-20  3.23
20 2005-05-21  3.23
21 2005-05-22  3.23
22 2005-05-23  3.29
23 2005-05-24  3.29
24 2005-05-25  3.29
25 2005-05-26  3.29
26 2005-05-27  3.29
27 2005-05-28  3.29
28 2005-05-29  3.29
29 2005-05-30  3.29

In [39]:
cb = pd.read_json("cb_rate.json")
print(cb[:30])                  # 빈날짜 확인
print(cb)                       # 처음과 끝 확인
date_len = pd.period_range(cb["date"][0], cb["date"][3778]) # 기간 사이 몇일이 있는지 알려줌 
len(date_len) # ★★★★★ 5월 1일은 따로 추가해야함 
              # 확인결과 cb, treasury_10year, treasury_3year가 주말 제외됨  
cb

         date  rate
0  2005-05-02  4.19
1  2005-05-03  4.16
2  2005-05-04  4.17
3  2005-05-06  4.18
4  2005-05-09  4.19
5  2005-05-10  4.20
6  2005-05-11  4.20
7  2005-05-12  4.17
8  2005-05-13  4.13
9  2005-05-16  4.10
10 2005-05-17  4.10
11 2005-05-18  4.08
12 2005-05-19  4.07
13 2005-05-20  4.08
14 2005-05-23  4.10
15 2005-05-24  4.07
16 2005-05-25  4.05
17 2005-05-26  4.04
18 2005-05-27  4.11
19 2005-05-30  4.11
20 2005-05-31  4.08
21 2005-06-01  4.04
22 2005-06-02  4.02
23 2005-06-03  4.02
24 2005-06-07  4.06
25 2005-06-08  4.06
26 2005-06-09  4.06
27 2005-06-10  4.09
28 2005-06-13  4.20
29 2005-06-14  4.19
           date  rate
0    2005-05-02  4.19
1    2005-05-03  4.16
2    2005-05-04  4.17
3    2005-05-06  4.18
4    2005-05-09  4.19
...         ...   ...
3774 2020-07-17  2.21
3775 2020-07-20  2.20
3776 2020-07-21  2.21
3777 2020-07-22  2.20
3778 2020-07-23  2.19

[3779 rows x 2 columns]

           date  rate
0    2005-05-02  4.19
1    2005-05-03  4.16
2    2005-05-04  4.17
3    2005-05-06  4.18
4    2005-05-09  4.19
...         ...   ...
3774 2020-07-17  2.21
3775 2020-07-20  2.20
3776 2020-07-21  2.21
3777 2020-07-22  2.20
3778 2020-07-23  2.19

[3779 rows x 2 columns]

-

In [ ]:
# cb["date"][1] + datetime.timedelta(days=1)


# for i in range(len(date_len)): # 20 => cb  testnum = 20 -> 날짜 길이 세는거 찾기 
#     if cb["date"][i] + datetime.timedelta(days=1) == cb["date"][i+1] :
#         pass
#     else :
#         cb["date"][i+1] = cb["date"][i] + datetime.timedelta(days=1)
#         cb["rate"][i+1] = cb["rate"][i] # 위치에 정확히 들어가는거 찾아보기
#         # i += 1
# cb.head(30)

#date 먼저 다만들고 나중에 바꾸는 거도 하나 생각해보기
 # fillna 와 merge

# 날짜먼저 생성 후 merge로 합친다음 null값 처리하기

#### 날짜생성

In [ ]:
# 날짜 생성 코드
date_only = pd.DataFrame(
    {
#    'date': pd.Series(pd.date_range('2005-05-01 00:00', periods=5563, freq='D')  위아래 같은 값나오는 코드
    'date': pd.Series(pd.date_range(start = '2005-05-01', end = '2020-07-23'))
    })             # 주의할 것은 series 뒤에 pd.period_range 써주면 데이터 타입이 period라 오류 날 수 있으므로 date_range 사용할것
date_only.dtypes
date_only

           date
0    2005-05-01
1    2005-05-02
2    2005-05-03
3    2005-05-04
4    2005-05-05
...         ...
5558 2020-07-19
5559 2020-07-20
5560 2020-07-21
5561 2020-07-22
5562 2020-07-23

[5563 rows x 1 columns]

In [ ]:
cb
# merge 전 type 일치하는지 확인 
print(type(cb['date'][0]))
print(type(date_only['date'][0]))

print("-"*40)
print(cb.dtypes)
print("-"*40)
print(date_only.dtypes)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
----------------------------------------
date    datetime64[ns]
rate           float64
dtype: object
----------------------------------------
date    datetime64[ns]
dtype: object

#### merge 사용

In [ ]:
cb_all = date_only.merge(cb , on = 'date', how = 'left')   # cb_all 자리에쓴게 기준점임.. 이걸기준으로 how 어떤조인할지  
# ※주의 cb_all = cd.merge(cb_all , on = 'date', how = 'right') 처럼 cd와 cb_all 자리바꾸고 right로 바꾸면 안됨 !! merge 앞에 쓰는게 기준점임  
cb_all[1:30]
cb_all

           date  rate
0    2005-05-01   NaN
1    2005-05-02  4.19
2    2005-05-03  4.16
3    2005-05-04  4.17
4    2005-05-05   NaN
...         ...   ...
5558 2020-07-19   NaN
5559 2020-07-20  2.20
5560 2020-07-21  2.21
5561 2020-07-22  2.20
5562 2020-07-23  2.19

[5563 rows x 2 columns]

### fillna 설명  
https://rfriend.tistory.com/262

In [ ]:
cb_all = cb_all.fillna(method = "ffill") # 빈값은 전날값으로 채움 
cb_all = cb_all.fillna(method = "bfill") # 5월 1일 전날값이 없으므로 다음날값으로 채움

## 한달 후 올랐는지 안올랐는지

In [ ]:
cb_all['new_date'] = 0
cb_all
cb_all.drop('new_date', axis=1, inplace = True) #  ★★★★★★★★★★★★컬럼삭제
cb_all['ud'] = None
cb_all

           date  rate    ud
0    2005-05-01  4.19  None
1    2005-05-02  4.19  None
2    2005-05-03  4.16  None
3    2005-05-04  4.17  None
4    2005-05-05  4.17  None
...         ...   ...   ...
5558 2020-07-19  2.21  None
5559 2020-07-20  2.20  None
5560 2020-07-21  2.21  None
5561 2020-07-22  2.20  None
5562 2020-07-23  2.19  None

[5563 rows x 3 columns]

In [41]:
for i in range(len(cb_all)-28) : #len(cb_all)-28
    if cb_all['rate'][i+28] - cb_all['rate'][i] >= 0 : # up일때
        cb_all["ud"][i] = "up"
        # print("1달 후 올랐습니다.\n현재 날짜 : {}, 현재금리 : {}, 1달 후 날짜 : {}, 1달 후 금리 : {}".format(cb_all['date'][i],cb_all['rate'][i],cb_all['date'][i+30], cb_all['rate'][i+30]))
    elif cb_all['rate'][i+28] - cb_all['rate'][i] < 0 : # down일때
        cb_all["ud"][i] = "down"
        # print("1달 후 내렸습니다.\n현재 날짜 : {}, 현재금리 : {}, 1달 후 날짜 : {}, 1달 후 금리 : {}".format(cb_all['date'][i],cb_all['rate'][i],cb_all['date'][i+30], cb_all['rate'][i+30]))
    else :
        print("뭔가 이상합니다")
cb_all[:28]
cb_all

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           date  rate    ud
0    2005-05-01  4.19  down
1    2005-05-02  4.19  down
2    2005-05-03  4.16  down
3    2005-05-04  4.17  down
4    2005-05-05  4.17  down
...         ...   ...   ...
5558 2020-07-19  2.21  None
5559 2020-07-20  2.20  None
5560 2020-07-21  2.21  None
5561 2020-07-22  2.20  None
5562 2020-07-23  2.19  None

[5563 rows x 3 columns]

In [2]:
cb_all.to_json('cb_rate_ud.json')

NameError: ignored

In [5]:
cb = pd.read_json("call_rate.json")
print(cb[:30])                  # 빈날짜 확인
print(cb)                       # 처음과 끝 확인

         date  rate
0  2005-05-01  3.29
1  2005-05-02  3.29
2  2005-05-03  3.30
3  2005-05-04  3.21
4  2005-05-05  3.21
5  2005-05-06  3.27
6  2005-05-07  3.27
7  2005-05-08  3.27
8  2005-05-09  3.29
9  2005-05-10  3.30
10 2005-05-11  3.30
11 2005-05-12  3.30
12 2005-05-13  3.29
13 2005-05-14  3.29
14 2005-05-15  3.29
15 2005-05-16  3.29
16 2005-05-17  3.29
17 2005-05-18  3.29
18 2005-05-19  3.19
19 2005-05-20  3.23
20 2005-05-21  3.23
21 2005-05-22  3.23
22 2005-05-23  3.29
23 2005-05-24  3.29
24 2005-05-25  3.29
25 2005-05-26  3.29
26 2005-05-27  3.29
27 2005-05-28  3.29
28 2005-05-29  3.29
29 2005-05-30  3.29
           date  rate
0    2005-05-01  3.29
1    2005-05-02  3.29
2    2005-05-03  3.30
3    2005-05-04  3.21
4    2005-05-05  3.21
...         ...   ...
4623 2017-12-27  1.51
4624 2017-12-28  1.55
4625 2017-12-29  1.58
4626 2017-12-30  1.58
4627 2017-12-31  1.58

[4628 rows x 2 columns]

# 자이제 다른거 다뽑아보자~

In [35]:
cb = pd.read_json("treasury_3year.json")
# ※※※※※※※※※※※※※※※※※※※※※ 컬럼명이 date, rate가 아닐경우 바꿔줌 ※※※※※※※※※※※※※※※※※※※※※※※※※
cb = cb.rename({'일자':'date', '국고채권\n(10년)':'rate' }, axis ='columns')
cb['date'] = pd.to_datetime(cb['date'])

print(cb[:30])                  # 빈날짜 확인
print(cb)                       # 처음과 끝 확인
date_len = pd.period_range(cb["date"][0], cb["date"][3778]) # 기간 사이 몇일이 있는지 알려줌 
len(date_len) # 5월 1일은 따로 추가해야함 
              # 확인결과 cb, treasury_10year, treasury_3year가 주말 제외됨  
cb


# 날짜 생성 코드 # 수익률의 표준편차는 변동성 
date_only = pd.DataFrame(
    {
#    'date': pd.Series(pd.date_range('2005-05-01 00:00', periods=5563, freq='D')  위아래 같은 값나오는 코드
    'date': pd.Series(pd.date_range(start = '2005-05-01', end = '2020-07-23'))
    })             # 주의할 것은 series 뒤에 pd.period_range 써주면 데이터 타입이 period라 오류 날 수 있으므로 date_range 사용할것
date_only.dtypes
date_only


cb_all = date_only.merge(cb , on = 'date', how = 'left')   # cb_all 자리에쓴게 기준점임.. 이걸기준으로 how 어떤조인할지  
# ※주의 cb_all = cd.merge(cb_all , on = 'date', how = 'right') 처럼 cd와 cb_all 자리바꾸고 right로 바꾸면 안됨 !! merge 앞에 쓰는게 기준점임  
cb_all[1:30]
cb_all


cb_all = cb_all.fillna(method = "ffill") # 빈값은 전날값으로 채움 
cb_all = cb_all.fillna(method = "bfill") # 5월 1일 전날값이 없으므로 다음날값으로 채움 

cb_all['new_date'] = 0
cb_all
cb_all.drop('new_date', axis=1, inplace = True) #  ★★★★★★★★★★★★컬럼삭제
cb_all['ud'] = None
cb_all


for i in range(len(cb_all)-28) : #len(cb_all)-28
    if cb_all['rate'][i+28] - cb_all['rate'][i] >= 0 : # up일때
        cb_all["ud"][i] = "up"
        # print("1달 후 올랐습니다.\n현재 날짜 : {}, 현재금리 : {}, 1달 후 날짜 : {}, 1달 후 금리 : {}".format(cb_all['date'][i],cb_all['rate'][i],cb_all['date'][i+30], cb_all['rate'][i+30]))
    elif cb_all['rate'][i+28] - cb_all['rate'][i] < 0 : # down일때
        cb_all["ud"][i] = "down"
        # print("1달 후 내렸습니다.\n현재 날짜 : {}, 현재금리 : {}, 1달 후 날짜 : {}, 1달 후 금리 : {}".format(cb_all['date'][i],cb_all['rate'][i],cb_all['date'][i+30], cb_all['rate'][i+30]))
    else :
        print("뭔가 이상합니다")
cb_all[:28]
cb_all


cb_all.to_json('treasury_3year_rate_ud.json')

         date  rate
0  2005-04-29  3.76
1  2005-05-02  3.78
2  2005-05-03  3.76
3  2005-05-04  3.77
4  2005-05-06  3.77
5  2005-05-09  3.78
6  2005-05-10  3.78
7  2005-05-11  3.78
8  2005-05-12  3.75
9  2005-05-13  3.72
10 2005-05-16  3.69
11 2005-05-17  3.69
12 2005-05-18  3.67
13 2005-05-19  3.65
14 2005-05-20  3.66
15 2005-05-23  3.68
16 2005-05-24  3.65
17 2005-05-25  3.63
18 2005-05-26  3.62
19 2005-05-27  3.70
20 2005-05-30  3.70
21 2005-05-31  3.67
22 2005-06-01  3.63
23 2005-06-02  3.61
24 2005-06-03  3.61
25 2005-06-07  3.65
26 2005-06-08  3.65
27 2005-06-09  3.65
28 2005-06-10  3.68
29 2005-06-13  3.80
           date  rate
0    2005-04-29  3.76
1    2005-05-02  3.78
2    2005-05-03  3.76
3    2005-05-04  3.77
4    2005-05-06  3.77
...         ...   ...
3775 2020-07-17  0.81
3776 2020-07-20  0.80
3777 2020-07-21  0.81
3778 2020-07-22  0.81
3779 2020-07-23  0.79

[3780 rows x 2 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
cb = pd.read_json("treasury_10year.json")
print(cb[:30])                  # 빈날짜 확인
print(cb)                       # 처음과 끝 확인

# date_len = pd.period_range(cb["date"][0], cb["date"][3778]) # 기간 사이 몇일이 있는지 알려줌 
# len(date_len) # ★★★★★ 5월 1일은 따로 추가해야함 
#               # 확인결과 cb, treasury_10year, treasury_3year가 주말 제외됨  
# cb

cb = cb.rename({'일자':'date' , '국고채권\n(10년)':'rate' }, axis ='columns')
cb

            일자  국고채권\n(10년)
0   2005-01-03         3.93
1   2005-01-04         3.99
2   2005-01-05         4.00
3   2005-01-06         4.13
4   2005-01-07         4.13
5   2005-01-10         4.16
6   2005-01-11         4.31
7   2005-01-12         4.32
8   2005-01-13         4.38
9   2005-01-14         4.52
10  2005-01-17         4.63
11  2005-01-18         4.47
12  2005-01-19         4.44
13  2005-01-20         4.46
14  2005-01-21         4.68
15  2005-01-24         4.69
16  2005-01-25         4.67
17  2005-01-26         4.66
18  2005-01-27         4.63
19  2005-01-28         4.75
20  2005-01-31         4.85
21  2005-02-01         4.80
22  2005-02-02         4.80
23  2005-02-03         4.80
24  2005-02-04         4.87
25  2005-02-07         4.99
26  2005-02-11         5.11
27  2005-02-14         5.09
28  2005-02-15         4.97
29  2005-02-16         4.88
              일자  국고채권\n(10년)
0     2005-01-03        3.930
1     2005-01-04        3.990
2     2005-01-05        4.000
3     2005-01-06        4.130
4     2005-01-07        4.130
...          ...          ...
3860  2020-07-20        1.334
3861  2020-07-21        1.356
3862  2020-07-22        1.346
3863  2020-07-23        1.318
3864  2020-07-24        1.305

[3865 rows x 2 columns]

            date  10rate
0     2005-01-03   3.930
1     2005-01-04   3.990
2     2005-01-05   4.000
3     2005-01-06   4.130
4     2005-01-07   4.130
...          ...     ...
3860  2020-07-20   1.334
3861  2020-07-21   1.356
3862  2020-07-22   1.346
3863  2020-07-23   1.318
3864  2020-07-24   1.305

[3865 rows x 2 columns]

In [33]:
# treasury는 date type이 object 

print(cb.dtypes)

print(date_only.dtypes)
#
# cb['date'].astype(datetime)

cb['date'] = pd.to_datetime(cb['date'])
print(cb.dtypes)

print(date_only.dtypes)

date    datetime64[ns]
rate           float64
dtype: object
date    datetime64[ns]
dtype: object
date    datetime64[ns]
rate           float64
dtype: object
date    datetime64[ns]
dtype: object